@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Montserrat:wght@300;400;600&display=swap")

\:root
    font-size: 1px

    --font-family-title: 'Kelly Slab', cursive
    --font-family-text: 'Montserrat', sans-serif

    --font-size-t: 15rem
    --font-size-s: 20rem
    --font-size-sm: 25rem
    --font-size-m: 30rem
    --font-size-sb-2: 35rem
    --font-size-sb: 40rem
    --font-size-b: 50rem
    --font-size-l: 60rem

    --font-title-b: var(--font-size-b) var(--font-family-title)
    --font-title-l: var(--font-size-l) var(--font-family-title)

    --font-regular-t: var(--font-size-t) var(--font-family-text)
    --font-regular-s: var(--font-size-s) var(--font-family-text)
    --font-regular-sm: var(--font-size-sm) var(--font-family-text)
    --font-regular-m: var(--font-size-m) var(--font-family-text)
    --font-regular-sb: var(--font-size-sb) var(--font-family-text)
    --font-regular-sb-2: var(--font-size-sb-2) var(--font-family-text)

    --accent: #E8BB92
    --accent-dark: #daa36f
    --background: #E7E9FB
    --text-light: #ffffff
    --text-dark: #555555
    --success: #67CD71

    --white: #ffffff
    --black: #000000

    --media-mobile: 800px

@media (max-width: 1440px)
    \:root
        font-size: .07vw

@media (max-width: 800px)
    \:root
        font-size: .315vw
        --font-size-s: 6rem
        --font-size-m: 10rem
        --font-size-sm: 20rem
        --font-size-sb: 10rem
        --font-size-b: 20rem
        --font-size-l: 20rem

body
    background-color: var(--background)
    font-family: var(--font-family-text)
