.infoWithIcon
    text-align: center
    position: relative
    font: var(--font-regular-s)

.icon
    width: 30rem
    position: absolute
    left: -20rem
    top: -5rem

.DARK
    color: var(--text-dark)
    & > .icon
        filter: invert(0.55)
