.slick-slider .slick-dots li
    margin-right: 20rem
    margin-left: 0
    width: 30rem
    height: 30rem
    transform: translateY(100%)

.slick-slider .slick-dots li button
    transition: .3s background-color ease
    margin-top: 20rem
    width: 100%
    height: 100%
    background-color: var(--white)
    border: 2rem solid var(--accent)
    border-radius: 50%

.slick-dots li.slick-active button
    background-color: var(--accent)


.slick-slider .slick-dots li button:before
    content: ""
