.headerTop
    align-items: center
    display: flex
    justify-content: space-between

.logo
    background-blend-mode: color
    width: 150rem
    height: 150rem

.DARK
    color: var(--text-dark)

@media (max-width: 800px)
    .logo
        width: 50rem
        height: 50rem
