#block-search, #block-search * {
    box-sizing: border-box;
}
#block-search {
    background-color: #E8BB91;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}
.tl-container {
    padding: 0 30px;
}
