.contacts
    color: var(--text-dark)

.title
    margin: 30rem 0
    text-align: center
    font: var(--font-title-l)

.flex
    justify-content: space-between
    display: flex

.name
    margin: 0
    font: var(--font-regular-m)

.info
    font: var(--font-regular-s)
    display: flex
    flex-direction: column
    gap: 15rem

.map
    width: 500rem
    height: 300rem

.path
    margin-top: 15rem

.subtitle
    font: var(--font-regular-sm)
    font-weight: 600

.description
    font: var(--font-regular-s)

@media (max-width: 800px)
    .title
        margin: 10rem 0
    .flex
        flex-direction: column
    .info
        gap: 5rem
    .links
        font-size: 8rem
        line-height: 2
    .map
        width: 100%
        height: 179rem
    .path
        &:last-child
            .subtitle
                font-size: 8rem
    .subtitle
        font-size: 15rem
        font-weight: bold
    .description
        font-size: 8rem
