.header
    display: flex
    justify-content: space-between
    align-items: flex-end
    color: var(--text-dark)

.back
    cursor: pointer
    font: var(--font-regular-t)

.title
    font: var(--font-title-l)

.close
    cursor: pointer
    img
        width: 26rem
        height: 26rem

.main
    margin-top: 30rem
    gap: 20rem
    display: flex
    justify-content: space-between

.info
    font: var(--font-regular-s)
    position: relative

.list
    margin-top: 15rem

.book
    position: absolute
    right: 0
    bottom: 0

.excursion
    margin-top: 30rem
    display: flex
    align-items: center
    flex-direction: column

.subtitle
    font: var(--font-regular-sb)

.video
    margin-top: 10rem
    width: 700rem
    height: 425rem
