.wrapper
    margin: 0 auto
    max-width: 1440px
    padding: 0 130rem 50rem 130rem
    min-height: 100vh


.filter
    height: 150rem
    width: 100%
    background-color: var(--accent)

.breadcrumps
    margin-top: 10rem
    font: var(--font-regular-s)
    color: var(--text-dark)

.active
    text-decoration: underline
