.footer
    font: var(--font-regular-t)
    font-weight: 300
    color: var(--text-light)
    background-color: var(--accent)
    padding: 25rem 130rem
    height: 220rem

.top
    display: flex
    align-items: center
    justify-content: space-between

.links
    justify-content: space-between
    width: 100%
    align-items: center
    display: flex

.item
    list-style-type: none

.link
    color: var(--text-light)


.logo
    margin-right: 80rem
    width: 150rem
    height: 150rem

.warning
    text-align: center

@media (max-width: 800px)
    .footer
        padding: 15rem 20rem
    .top
        align-items: flex-start
    .logo
        margin: 0
        width: 50rem
        height: 50rem
    .links
        line-height: 2
        font-size: 12rem
        flex-direction: column
        text-align: center
    .warning
        margin-top: 10rem
        font-size: 10rem
