.mainHeader
    text-align: center
    padding-top: 25rem
    display: flex
    gap: 20rem
    flex-direction: column
    color: var(--text-light)


.logo
    width: 150rem
    height: 150rem

.flex
    align-items: center
    display: flex
    justify-content: space-between

.money
    font: var(--font-regular-m)

.important
    font: var(--font-regular-sb)

.text
    position: relative
    font: var(--font-regular-s)
