.cottages
    transition: 0.8s all ease
    transform: translateY(-100%)
    opacity: 0
    top: 0
    z-index: 2
    position: absolute
    overflow: hidden

.open
    opacity: 1
    transform: translateY(0)


